# OS files
.DS_Store
Thumbs.db

# Node / tooling (not used yet, but common)
node_modules/
dist/


# Python venvs / caches (if used locally)
.venv/
venv/
__pycache__/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
